.close2 button {
  outline: rgba(0, 0, 0, 0) !important;
  color: white !important;
}
.close2 {
  background-color: #ef5350 !important;
  color: white !important;
  border-color: #ef5350 !important;
}
